extends layout

block content
  h1 Only Members Message Board
  if User
    h3 welcome to #{User.username} (Admin: #{User.isAdmin}, Member: #{User.status})
    if User.status == false 
      p you need to become a member to access full site.
      p become a member please 
        a(href="/make-member") click here 
    if User.status == true 
      if User.isAdmin == false 
        p Become a admin 
          a(href="/make-admin") here  
      button
        a(href="/create-message") post a message
    a(href="/logOut") 
      button(type="button") Log Out
    
  if User && User.status == true 
    if User.isAdmin == false 
      div.messagesBody
        for message in messages
          div.singleMessage
            h3.messageHeading #{message.messageHead}
            p.messageBody #{message.messageBody}
            div.userandtime
              p.messageUser #{message.messageUser.username}
              p.messageTime #{message.messageTime}
    else  
      div.messagesBody
        for message in messages
          div.singleMessage
            h3.messageHeading #{message.messageHead}
            p.messageBody #{message.messageBody}
            div.userandtime
              p.messageUser #{message.messageUser.username}
              p.messageTime #{message.messageTime}
            div.deleteBtnForm
              - var redirect = "/delete-message/"+ message.id 
              form(action=redirect, method="post") 
                button(type="submit") delete
  else 
    if User 
    else 
      h3 Log in or Sign up and become a memeber to get complete access to the site
        br
        a(href="/sign-in") log-in 
        br
        a(href="/sign-up") sign-up 

    div.messageBody
      for message in messages
        div.singleMessage
          h3.messageHeading #{message.messageHead}
          p.messageBody #{message.messageBody}

  